*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary: #e91e63;
  --white:#fff;
}
/* font-weight */
:root{
  --fw-700:700;
  --fw-500:500;
  --transition-1 : 0.15s ease;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
body{
  font-family: 'Poppins', sans-serif !important;
}
a{
  text-decoration: none;
}
.uppercase{
  text-transform: uppercase;
}
.pointer{
  cursor: pointer
}
.font-weight500{
  font-weight: 500;
}
.main-wrapper{
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
.btn {
  color: var(--white);
  font-size: 11px;
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 30px;
  border: 2px solid var(--primary);
  border-radius: 50px;
  transition: var(--transition-1);
}
.btn:hover{
  background-color: var(--primary);
}
.primarytext:hover{
  color: var(--primary);
}
.primarysvg svg path{
  fill: var(--primary);
}
.flex-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.center-content{
  display: flex;
    justify-content: center;
    align-items: center;
}
.text-white{
  color: var(--white);
}
.w-60{
  width: 60%;
}